/* Accordion */
.accordion {
    padding: 20px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: var(--bold-font);
    color: var(--primary-color);
    border: 1px solid black;
    outline: none;
    background: var(--bg-element0);
    transition: 0.4s;
    -moz-transition: 0.4s;
}

/* Accordion Panel. Hidden by max-height */
.panel {
    padding: 0 18px;
    background: var(--bg-color0);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
}


/* Small Screens have Closed Accordions */
@media screen and (max-height: 720px) {
    .accordion {
        cursor: pointer;
    }
    /* Active Accordion. Added by Script: "../js/accordionScript.js" */
    .accordion.active, .accordion:hover {
        background: var(--bg-element0);
        color: var(--secondary-color);
    }
    /* Panel Hidden by max-height */
    .panel {
        max-height: 0;
    }

    /* Accordion Icon*/
    .accordion:after {
        content: '\02795';    /* +sign */
        font-size: 15px;
        float: right;
        margin-left: 5px;
    }
    .accordion.active:after {
        content: '\02796';    /* -sign */
    }
}


/* Laptops */
@media screen and (max-width: 960px) {}

/* Tablets */
@media screen and (max-width: 720px) {}

/* Smartphones */
@media screen and (max-width: 420px) {}