/* HEADER */
header {}

/* .header-carousel {} */

.header-image,
.carouselSlides {
	background-image: url("../img/banner/Banner3_1920x600.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    width: 100%;
	min-height: 100%;
}

/* Slideshow hide by Default */
.carouselSlides {
    display: none;
}

.header-text {
	position: absolute;
	z-index: 1;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width: 100%;
	padding: 25px;

	text-align: center; 
	color: var(--font-color0);
    font-size: var(--size-xl);
	text-shadow: 1px 1px var(--primary-shadow);

	border: 1px solid var(--primary-shadow);
	background: var(--bg-shadow0);
}

.options {
	position: absolute;
	z-index: 1;
	top: 8px;
	right: 16px;
}

/* Laptops */
@media screen and (max-width: 960px) {
	.header-text {
		font-size: var(--size-l);
	}
}

/* Tablets */
@media screen and (max-width: 720px) {
	.header-text {
		font-size: var(--size-m);
	}
}

/* Smartphones */
@media screen and (max-width: 420px) {}