/* Lightbox Style */
.lightBox {
    display: none; /* Hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; Enable Scroll */
    background: black; /* Fallback on No-Opacity */
    background: var(--bg-shadow0);
}

.lightBoxContent {
    background-color: var(--bg-color1);
    margin: 46.5px auto;
    padding: 20px;
    width: 50%; /* LightBox Width */
}


/* Laptops */
@media screen and (max-width: 960px) {}

/* Tablets */
@media screen and (max-width: 720px) {
    .lightBoxContent {width: 80%; /* LightBox Width */}
}

/* Smartphones */
@media screen and (max-width: 420px) {
    .lightBoxContent {width: 100%; /* LightBox Width */}
}