/* ABOUT */
/* Column Container */
.row {
    display: flex;
    flex-wrap: wrap;
}

.center {
    text-align: center;
}


/* Sidebar Left Column */
.side {
    flex: 20%; /* Width of Sidebar */
    background-color: #666;
    padding: 20px;
}

/* Main Right Column */
.main {
    flex: 80%; /* Width of Mainbar */
    background-color: white;
    padding: 20px;
	margin: auto;
	box-sizing: border-box;
}

/* Tablets */
@media screen and (max-width: 720px) {
    /* Row */
    .row {
        flex-direction: column;
    }
}

/* Smartphones */
@media screen and (max-width: 420px) {
    
}