/* FOOTER */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: black;
}

/* Tablets */
@media screen and (max-width: 720px) {
	
}

/* Smartphones */
@media screen and (max-width: 420px) {
    
}