/* HEADER */
header {
	/* max-width: 1920px;
	height: 18em;
	max-height: 600px; */
}

.header-image,
.header-carousel {
	background-image: url("../img/banner/Banner3_1920x600.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    width: 100%;
}

/* Slideshow */
.carouselSlides {
    display: none;
	width: 100%;
}

.header-text {
	position: absolute;
	z-index: 1;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width: 100%;
	padding: 25px;

	text-align: center; 
	color: white;
    font-size: 40px;
	text-shadow: 2px 2px black;

	border: 1px solid white;
	background: rgba(0, 0, 0, 0.25);
}

/* Tablets */
@media screen and (max-width: 720px) {

}

/* Smartphones */
@media screen and (max-width: 420px) {
    
}