/* Lightbox Style */
.lightBox {
    display: none; /* Hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; Enable Scroll */
    background: black; /* Fallback on No-Opacity */
    background: rgba(0, 0, 0, 0.3);
}

.lightBoxContent {
    background-color: gainsboro;
    margin: 46.5px auto;
    padding: 20px;
    /* border: 1px solid white; */
    width: 50%; /* LightBox Width */
}

.closeBtn {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Tablets */
@media screen and (max-width: 720px) {
    .lightBoxContent {width: 80%; /* LightBox Width */}
}

/* Smartphones */
@media screen and (max-width: 420px) {
    .lightBoxContent {width: 100%; /* LightBox Width */}
}