/* NAVIGATION */
nav {
    overflow: hidden;
    background-color: grey;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a.right {
    float: right;
}

nav a:hover {
    background-color: gainsboro;
    color: black;
}

/* Tablets */
@media screen and (max-width: 720px) {
    nav a {
        float: none;
        width: 100%;
    }
}


/* Smartphones */
@media screen and (max-width: 420px) {
    
}