/* MAIN */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap"); /* Import Google Roboto Font */

* {
    font-family: "Roboto", sans-serif;
    margin: 0;              /* Remove page Marging i.e Fullscreen Page */
    box-sizing: border-box; /* Ensure proper sizing */
}

body, html {
	height: 100%;
}

.split {

}

/* Sidebar Right Column */
.right {
    /* float: right;
    width: 24%;
    position: sticky;
    position: -webkit-sticky;
    top: 45px; */
}

/* Primary Left Column */
.left {
    /* width: 75%; */
}

/* Full width Column */
.center {
    /* padding: 20px; */
}

h2 {
    /* background-color: black; */
}
h3 {
    /* background-color: gray; */
}

/* Tablets */
@media screen and (max-width: 720px) {

}

/* Smartphones */
@media screen and (max-width: 420px) {
    
}