/* Skill Section */
.skills {
    padding: 1rem 5rem;
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: var(--top-margin);
    background-color: var(--bg-color1);
}
.skillsHeader {
    margin-bottom: var(--bottom-margin);
}
.skillsWrapper {
    padding: 1.25rem;
}

.skillsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    width: 11.875rem;
    height: 11.25rem;
}
.tileCard {
    background-color: var(--bg-element0);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.skillContainer {
    width: 100%;
    background-color: var(--bg-color0);
    border-radius: 10px;
}

.skill {
    text-align: right;
    padding: 10px 0px;
    color: var(--font-color0);
    width: 0%;
    background-color: var(--bg-color1);
    border-radius: 10px;
}

.html {
    width: 80%;
    background-color: #04aa6d;
}
.css {
    width: 60%;
    background-color: #2196F3;
}
.js {
    width: 40%;
    background-color: #f44336;
}
.csharp {
    width: 0%;
    background-color: #f4a836;
}
.php {
    width: 30%; 
    background-color: #808080;
}
.sql {
    width: 20%; 
    background-color: #635d5d;
}
.python {
    width: 10%; 
    background-color: #a7a6a6;
}

/* Responsive Style for the Website */
/* For Screens of 960px and lower Half-screen and Ipad*/
@media screen and (max-width: 960px) {}

/* For Screens of 720px and lower Laptop and Tablets */
@media screen and (max-width: 720px) {
    .tile {
        width: 5.875rem;
        height: 5.875rem;
    }
}

/* For Screens of 420px and lower SmartPhones */
@media screen and (max-width: 420px) {
    .tile {
        width: 3rem;
        height: 3rem;
    }
}