/* Navigation Bar Stylesheet
*
* Responsive Top Navigation Bar
* Sticky Navigation Bar
* Dropdown Navigation Items
*/

.topNavBar {
	background-color: #333;
	overflow: hidden;
}

/* NavBar Links */
.topNavBar a {
	float: left;
	display: block;
	padding: 14px 16px;
	color: #f2f2f2;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
}

/* NavBar Links Hover */
.topNavBar a:hover {
	background-color: #ddd;
	color: white;
}

/* Highlight Current Page in NavBar */
.topNavBar a.active {
	background-color: #4caf50;
	color: white;
}
/* Sub Navigation */
	/* Sub Navigation Menu */
	.subNav {
		float: left;
		overflow: hidden;
	}
	
	/* Sub Navigation Button */
	.subNav .subNav-Btn {
		border: none;
		outline: none;
		padding: 14px 16px;
		margin: 0;
		background-color: inherit;
		color: white;
		font-family: inherit;
		font-size: 17px;
	}
	
	/* Sub Navigation Background on Hover */
	.subNav:hover, .subNav a:hover, .subNav-Btn {
		background-color: red;
	}
	
	/* Sub Navigation Content */
	.subNav-Content {
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 1;
		background-color: red;
	}
	
	/* Sub Navigation Items */
	.subNav-Content a {
		float: left;
		color: white;
		text-decoration: none;
	}
	
	/* Sub Navigation Items on Hover */
	.subNav-Content a:hover {
		background-color: #eee;
		color: black;
	}
	
	/* Sub Navigation Show Content on Hover */
	.subNav:hover .subNav-Content {
		display: block;
	}
	
/* Dropdown Navigation */
	/* Dropdown Container */
	.dropdown {
		float: left;
		overflow: hidden;
	}
	/* Dropdown Button fit inside NavBar */
	.dropdown .dropdown-Btn {
		border: none;
		outline: none;
		padding: 14px 16px;
		margin: 0;
		background-color: inherit;
		color: white;
		font-family: inherit;
		font-size: 17px;
	}
	/* Dropdown Content, hidden by default */
	.dropdown-Content {
		z-index: 1;
		display: none;
		position: absolute;
		min-width: 160px;
		background-color: #f9f9f9;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}
	/* Items inside Dropdown */
	.dropdown-Content a {
		float: none;
		padding: 12px 16px;
		display: block;
		color: black;
		text-decoration: none;
		text-align: left;
	}
	/* Dropdown Buttons Hover */
	.dropdown:hover .dropdown-Btn {
		background-color: #ddd;
		color: white;
	}
	/* Dropdown Items Hover */
	.dropdown-Content a:hover {
		background-color: #ddd;
		color: black;
	}
	/* Dropdown Items Show on Hover */
	.dropdown:hover .dropdown-Content {
		display: block;
	}

/* Navigation Icons Resize to Allign items */
.subNav-Icon, .dropdown-Icon {
	font-size: 12px;
}

/* Sticky Navbar on Scroll */
	/* Stickied to top of page */
	.sticky { 
		position: fixed; 
		top: 0; 
		width: 100%; 
	}
	/* Stickied offset to Header */
	.sticky + .content { 
		padding-top: 60px; 
	}

/* Responsive Style */
/* Responsive: Big Screens; Hide HamburgerIcon */
.topNavBar .navIcon {
	display: none;
}

/* Responsive: Small Screens*/
@media screen and (max-width: 745px) {
	/* Hide All links except First Link */
	.topNavBar a:not(:first-child) {
		display: none;
	}
	
	/* Hide Subnav Buttons */
	.subNav .subNav-Btn {
		display: none;
	}
	/* Hide Dropdown Buttons */
	.dropdown .dropdown-Btn {
		display: none;
	}
	
	/* Display the HamburgerIcon  */
	.topNavBar a.navIcon {
		float: right;
		display: block;
	}
}

/* Responsive: On Small Screens: Responsive Class is added with JS on HamburgerIcon Click. */
@media screen and (max-width: 745px) {
	/* ! Conflicts with Sticky NavBar */
	.topNavBar.responsive {
		position: relative;
	}
	/* Display HamburgerIcon on the Right-Side of NavBar */
	.topNavBar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	/* Display NavBar Links Vertically */
	.topNavBar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	
	/* SubNav Links a Seperate Line */
	.topNavBar.responsive .subNav {
		float: none;
	}
	/* SubNav Links Fit in NavBar */
	.topNavBar.responsive .subNav-Content {
		position: relative;
	}
	/* Dropdown Links Vertically */
	.topNavBar.responsive .subNav .subNav-Btn {
		display: block;
		width: 100%;
		text-align: left;
	}
	
	/*Dropdown Links a Seperate Line */
	.topNavBar.responsive .dropdown {
		float: none;
	}
	/* Dropdown Links Fit in NavBar */
	.topNavBar.responsive .dropdown-Content {
		position: relative;
	}
	/* Dropdown Links Vertically */
	.topNavBar.responsive .dropdown .dropdown-Btn {
		display: block;
		width: 100%;
		text-align: left;
	}
}