/* Main Conan Exiles Stylesheet 
*
*
*/

/* Main Elements */
html, body, .content { 
	padding: 0; 
	margin: 0; 
	font-family: "Lucida Console", "Courier New", Courier, monospace; 
	color: white; 
	/*background: rgba(0,0,0,0.75); */
}
body {
	background: rgba(0,0,0,0.75) url('img/bg.png') no-repeat fixed; 
}
header { 
	padding: 20px; 
}
header, footer { 
	text-align: center; 
	/*background: #333; */
}
footer { 
	padding: 10px; 
	position: relative; 
	bottom: 0; 
	left: 0; 
}

/* Content */
.content {
	background: rgba(0,0,0,0.5)
}
h2 { 
	background: rgba(0,0,0,0.5);
	text-align: center; 
	border: 1px solid white; 
	scroll-margin-top: 90px; 
	cursor: pointer; 
}