/* Main Conan Exiles Stylesheet 
//
//
*/

/* Main Elements */
html, body, .content { 
	padding: 0; 
	margin: 0; 
	font-family: "Lucida Console", "Courier New", Courier, monospace; 
	color: white; 
	/*background: rgba(0,0,0,0.75); */
}
body {
	background: rgba(0,0,0,0.75) url('bg.png') no-repeat fixed; 
}
header { 
	padding: 20px; 
}
header, footer { 
	text-align: center; 
	/*background: #333; */
}
footer { 
	padding: 10px; 
	position: relative; 
	bottom: 0; 
	left: 0; 
}

/* Navigation */
	#NavBar { 
		/* height: 80px; 
		padding: 2px 5px; */
		display: flex; 
		/*background: gray; */
		overflow: hidden;
		
		border: 1px red solid;
	}
	.sticky { 
		position: fixed; 
		top: 0; 
		width: 100%; 
	}
	.sticky + .content { 
		padding-top: 60px; 
	}

	#OPT {
		width: 100%;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.btn, .dropDown { 
		color: black; 
		text-decoration: none; 
		cursor: pointer; 
		padding: 5px; 
	}
	.titleCard { 
		padding: 0px; 
		margin: 0; 
		text-align: center; 
	}
	.btn:hover, .dropDown:hover { 
		color: white; 
		/*background: black; */
	}
	#TOPbtn { 
		justify-content: flex-end;
	}
	/* Dropdown Menu */
	.dropDown {
		float: left;
		overflow: hidden;
	}
	.dropDown .dropBtn {
		position: relative;
		display: inline-block;
	}
	.dropDownContent {
		display: none;
		position: absolute;
		z-index: 1;
	}
	.dropDownContent a {
		display: block;
		/*background: gray; */
	}
	.dropDownContent a:hover {

	}
	.dropDown:hover .dropDownContent {
		display: block;
	}

/* Content */
	.content {
		background: rgba(0,0,0,0.5)
	}
	h2 { 
		background: rgba(0,0,0,0.5);
		text-align: center; 
		border: 1px solid white; 
		scroll-margin-top: 90px; 
		cursor: pointer; 
	}